.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
  padding-top: 5rem;
}

#about {
  padding-top: 2rem;
}

* {
  font-family: "Work Sans", sans-serif;
}

footer a {
  text-decoration: none;
}
